#field-img {
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 135vh;
  p {
    line-height: 18px;
  }
}

.field-text {
  text-align: center;
  margin: 100px 0;
  color: white;
}
.field-info {
  max-width: 1000px;
  background: $light-gray;
  width: 75%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
  padding: 30px;
  border-radius: 3px;
}

.price-tag {
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0
  }
}

.show-logo {
  height: 60px;
  padding-bottom: 9px;
}

#map {
  margin: 25px 0;
}

@media (max-width: 1100px) {
  .price-tag {
    flex-direction: column;
    margin-top: 30px;
    p {
      margin-bottom: 15px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .price-tag {
    display: block;
    p {
      margin: 15px 0;
    }
  }
  .field-info {
    img {
      display: none;
    }
    height: 100vh;
  }
}

@media (max-width: 500px) {
  .field-info {
    height: 105vh;
  }
}
