.city-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    color: white;
    margin-bottom: 50px;
  }
  form {
    max-width: 50vw;
  }
  .city-banner-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.new-book-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 81vh;
  h1 {
    color: $light-gray;
    margin: 50px 0;
    & em {
      font-size: 55px;
    }
  }
}
