<div class="banner" style="background-image: linear-gradient(-205deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.51) 50%), url('http://creativesportsproducts.com/sbg_admin/template/images/fieldbg.jpg');">

  <div class="banner-content">
    <h1 class="">Sportify</h1>
    <p>Book the sports field of your dreams</p>
  </div>
</div>

