<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a> |
    <a href="#"><i class="fab fa-facebook"></i></a> |
    <a href="#"><i class="fab fa-twitter"></i></a> |
    <a href="#">About us</i></a> |
    <a href="#">Jobs</a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-volleyball-ball"></i> Sportify</a>
  </div>
</div>
