.padding-around {
  padding-bottom: 15px,
}
¨.margin-bottom {
  margin-bottom: 5px;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  height: 175px;
}

.card-link:hover {
  opacity: 0.1;
}

.card-text {
  margin-bottom: 5px;
}

.card-body ul {
  margin-bottom: 5px;
  li {
    text-align: center;
  }
}

.card-body button {
  font-size: 16px;
}

.card-body i {
  color: black;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}

.badge-light {
  margin-bottom: 4px;
  background-color: $light-gray;
  color: $green;
}

.badge-dark {
  margin-bottom: 4px;
  background-color: $green;
  color: $light-gray;
}
