.booking-container {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 2px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.card-booking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-detail-booking {
    color: black;
}

.card-status-booking {
  height: 125px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}

.card-status-booking-item-pending {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #B2DDF7;
  margin: 0, 5px;
}

.card-status-booking-item-rejected {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #EF6F6C;
}

.card-status-booking-item-accepted {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
}

.card-description-detail-booking {
  color: black;
}

.card-description-detail-booking p {
  margin: 0;
}

.card-booking p {
  font-size: 14px;
}

.card-link-booking {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
  height: 125px;
}

.card-category-booking {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.card-description-booking {
  position: absolute;
  bottom: 10px;
  left: 10px;
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      opacity: 0.7;
      font-weight: lighter;
    }
 }

.btn-status {
  font-size: 14px;
}


@media (max-width: 770px) {
  .booking-container {
    width: 50vw;
    height:427px;
  }
  .card-booking {
    height: 100px;
  }
  h1 {
    font-size: 30px;
  }
}
