<div class="city-banner">
  <div class="city-banner-title">
    <h1>Fields available in <%= @city_name.capitalize %></h1>
  </div>

  <div class="city-banner-filter">
    <%= link_to 'Choose category', '', class:'btn-sportify-green' %>
  </div>

</div>

<div class="container">

</div>
