<h1 class="text-center">Add a new Field</h1>

<div class="container" id="fields-container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2" id="fields-form">
      <%= render 'form' %>
    </div>
  </div>
</div>
